{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Bondora API V1",
        "description": "Bondora API version 1",
        "contact": {
            "name": "Bondora",
            "url": "https://www.bondora.com",
            "email": "investor@bondora.com"
        },
        "license": {
            "name": "Bondora Terms of Use",
            "url": "https://www.bondora.com/en/terms"
        }
    },
    "host": "api.bondora.com",
    "schemes": [
        "http"
    ],
    "paths": {
        "/api/v1/account/balance": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Gets your account balance information",
                "operationId": "Account_GetBalance",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got info of your balance",
                        "schema": {
                            "$ref": "#/definitions/ApiResultMyAccountBalance"
                        }
                    },
                    "401": {
                        "description": "User is not Authorized"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/account/investments": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Gets list of your investments",
                "operationId": "Account_GetActive",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request.loanIssuedDateFrom",
                        "in": "query",
                        "description": "Loan issued start date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.loanIssuedDateTo",
                        "in": "query",
                        "description": "Loan issued start date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.principalMin",
                        "in": "query",
                        "description": "Remaining principal amount min",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.principalMax",
                        "in": "query",
                        "description": "Remaining principal amount max",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.interestMin",
                        "in": "query",
                        "description": "Interest rate min",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.interestMax",
                        "in": "query",
                        "description": "Interest rate max",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.lengthMax",
                        "in": "query",
                        "description": "Loan lenght min",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.lengthMin",
                        "in": "query",
                        "description": "Loan lenght max",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.latePrincipalAmountMin",
                        "in": "query",
                        "description": "Principal debt amount min",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.latePrincipalAmountMax",
                        "in": "query",
                        "description": "Principal debt amount max",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.debtOccuredOnFrom",
                        "in": "query",
                        "description": "Principal debt started date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.debtOccuredOnTo",
                        "in": "query",
                        "description": "Principal debt started date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.debtOccuredOnForSecondaryFrom",
                        "in": "query",
                        "description": "Interest debt started date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.debtOccuredOnForSecondaryTo",
                        "in": "query",
                        "description": "Interest debt started date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.defaultedDateFrom",
                        "in": "query",
                        "description": "Defaulted date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.defaultedDateTo",
                        "in": "query",
                        "description": "Defaulted date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.rescheduledFrom",
                        "in": "query",
                        "description": "Defaulted date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.rescheduledTo",
                        "in": "query",
                        "description": "Defaulted date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.soldDateFrom",
                        "in": "query",
                        "description": "When it was sold on Secondary market from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.soldDateTo",
                        "in": "query",
                        "description": "When it was sold on Secondary market to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.purchaseDateFrom",
                        "in": "query",
                        "description": "When you received the investment Auctions/Secondary market from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.purchaseDateTo",
                        "in": "query",
                        "description": "When you received the investment Auctions/Secondary market to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.nextPaymentDateTo",
                        "in": "query",
                        "description": "Next payment date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.nextPaymentDateFrom",
                        "in": "query",
                        "description": "Next payment date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.lastPaymentDateFrom",
                        "in": "query",
                        "description": "Last payment date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.lastPaymentDateTo",
                        "in": "query",
                        "description": "Last payment date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.countries",
                        "in": "query",
                        "description": "Two letter iso code for country of origin: EE, ES, FI",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.ratings",
                        "in": "query",
                        "description": "Bondora's rating: AA, A, B, C, D, E, F, HR",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.creditScoreMin",
                        "in": "query",
                        "description": "Minimum credit score",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.creditScoreMax",
                        "in": "query",
                        "description": "Maximum credit score",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.userName",
                        "in": "query",
                        "description": "Borrower's username",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "request.loanStatusCode",
                        "in": "query",
                        "description": "Loan status code\r\n            <para>0 Reserved</para><para>2 Current</para><para>3 Cancelled</para><para>100 Overdue</para><para>5 60+ days overdue</para><para>4 Repaid</para><para>8 Released</para>",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.incomeVerificationStatus",
                        "in": "query",
                        "description": "Income verification type",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            1,
                            2,
                            3,
                            4
                        ]
                    },
                    {
                        "name": "request.loanDebtManagementStage",
                        "in": "query",
                        "description": "Latest debt management stage",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            1,
                            2,
                            7,
                            9,
                            14,
                            15,
                            16,
                            20,
                            22,
                            23,
                            24,
                            30,
                            31,
                            32,
                            33,
                            34,
                            35,
                            36,
                            37,
                            38,
                            39,
                            40,
                            41,
                            42,
                            43
                        ]
                    },
                    {
                        "name": "request.loanDebtManagementStageType",
                        "in": "query",
                        "description": "Latest debt management stage type",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            1,
                            2,
                            3,
                            -1
                        ]
                    },
                    {
                        "name": "request.loanDebtManagementDateActiveFrom",
                        "in": "query",
                        "description": "Latest debt management date active from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.loanDebtManagementDateActiveTo",
                        "in": "query",
                        "description": "Latest debt management date active to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.auctionBidType",
                        "in": "query",
                        "description": "Auction bid type",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            0,
                            1,
                            2,
                            3
                        ]
                    },
                    {
                        "name": "request.salesStatus",
                        "in": "query",
                        "description": "Second market sale status\r\n            <para>NULL All active</para><para>0 Bought investments</para><para>1 Sold investments</para><para>2 Investment is on sale</para><para>3 Investment is not on sale</para>",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.isInRepayment",
                        "in": "query",
                        "description": "Search only active in repayment loans, StatusCodes (2, 5, 100)",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "request.pageSize",
                        "in": "query",
                        "description": "Max items in result, up to 50000",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 50000,
                        "minimum": 1
                    },
                    {
                        "name": "request.pageNr",
                        "in": "query",
                        "description": "Result page nr",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 2147483647,
                        "minimum": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got list of your investments",
                        "schema": {
                            "$ref": "#/definitions/ApiResultMyInvestments"
                        }
                    },
                    "401": {
                        "description": "User is not Authorized"
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "oauth2": [
                            "Investments"
                        ]
                    }
                ]
            }
        },
        "/api/v1/eventlog": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Gets events that have been made with this application (related to current access token)",
                "operationId": "Account_GetEventLog",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request.eventDateFrom",
                        "in": "query",
                        "description": "Start datetime",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.eventDateTo",
                        "in": "query",
                        "description": "end datetime",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.eventType",
                        "in": "query",
                        "description": "Event type",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            1,
                            2,
                            3,
                            4,
                            5
                        ]
                    },
                    {
                        "name": "request.ipAddress",
                        "in": "query",
                        "description": "IP address",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "request.pageSize",
                        "in": "query",
                        "description": "Max items in result, up to 20000",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 20000,
                        "minimum": 1
                    },
                    {
                        "name": "request.pageNr",
                        "in": "query",
                        "description": "Result page nr",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 2147483647,
                        "minimum": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got list of events",
                        "schema": {
                            "$ref": "#/definitions/ApiResultEventLog"
                        }
                    },
                    "401": {
                        "description": "User is not Authorized"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/auctions": {
            "get": {
                "tags": [
                    "Auction"
                ],
                "summary": "Gets list of active Auctions",
                "operationId": "Auction_GetActive",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request.countries",
                        "in": "query",
                        "description": "Two letter iso code for country of origin: EE, ES, FI",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.ratings",
                        "in": "query",
                        "description": "Bondora's rating: AA, A, B, C, D, E, F, HR",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.gender",
                        "in": "query",
                        "description": "Borrower's gender: Male 0, Female 1, Unknown 2",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.sumMin",
                        "in": "query",
                        "description": "Minimal loan amount",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.sumMax",
                        "in": "query",
                        "description": "Maximum loan amount",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.terms",
                        "in": "query",
                        "description": "Loan length: 3, 9, 12, 18, 24, 36, 48, 60 months",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.ageMin",
                        "in": "query",
                        "description": "Minimal age",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.ageMax",
                        "in": "query",
                        "description": "Maximum age",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.loanNumber",
                        "in": "query",
                        "description": "Loan number",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.userName",
                        "in": "query",
                        "description": "Username",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "request.applicationDateFrom",
                        "in": "query",
                        "description": "Loan application started date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.applicationDateTo",
                        "in": "query",
                        "description": "Loan application started date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.creditScoreMin",
                        "in": "query",
                        "description": "Minimum credit score",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.creditScoreMax",
                        "in": "query",
                        "description": "Maximum credit score",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.creditScoresEeMini",
                        "in": "query",
                        "description": "Credit score for EE loans",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.interestMin",
                        "in": "query",
                        "description": "Minimum interest",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.interestMax",
                        "in": "query",
                        "description": "Maximum interest",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.incomeTotalMin",
                        "in": "query",
                        "description": "Minimal total income",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.incomeTotalMax",
                        "in": "query",
                        "description": "Maximum total income",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.modelVersion",
                        "in": "query",
                        "description": "Model version",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.expectedLossMin",
                        "in": "query",
                        "description": "Minimal expected loss",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.expectedLossMax",
                        "in": "query",
                        "description": "Maximum expected loss",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.listedOnUTCFrom",
                        "in": "query",
                        "description": "Date when auction was published from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.listedOnUTCTo",
                        "in": "query",
                        "description": "Date when auction was published to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.pageSize",
                        "in": "query",
                        "description": "Max items in result, up to 20000",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 20000,
                        "minimum": 1
                    },
                    {
                        "name": "request.pageNr",
                        "in": "query",
                        "description": "Result page nr",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 2147483647,
                        "minimum": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got list of auctions",
                        "schema": {
                            "$ref": "#/definitions/ApiResultAuctions"
                        }
                    },
                    "401": {
                        "description": "User is not Authorized"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/auction/{id}": {
            "get": {
                "tags": [
                    "Auction"
                ],
                "summary": "Gets Auction info by auction identifier",
                "operationId": "Auction_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Auction's identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got Auction with specified ID",
                        "schema": {
                            "$ref": "#/definitions/ApiResultExtendedAuction"
                        }
                    },
                    "400": {
                        "description": "Auction ID is not provided"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "404": {
                        "description": "Auction with the provided ID was not found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/bids": {
            "get": {
                "tags": [
                    "Bid"
                ],
                "summary": "Gets list of bids the investor has made.",
                "operationId": "Bid_GetBidSummaries",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request.bidStatusCode",
                        "in": "query",
                        "description": "Bid status code",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            0,
                            1,
                            2,
                            3,
                            4,
                            5
                        ]
                    },
                    {
                        "name": "request.startDate",
                        "in": "query",
                        "description": "Start date",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.endDate",
                        "in": "query",
                        "description": "End date",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.pageSize",
                        "in": "query",
                        "description": "Max items in result, up to 20000",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 20000,
                        "minimum": 1
                    },
                    {
                        "name": "request.pageNr",
                        "in": "query",
                        "description": "Result page nr",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 2147483647,
                        "minimum": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got list of user's bids",
                        "schema": {
                            "$ref": "#/definitions/ApiResultBids"
                        }
                    },
                    "401": {
                        "description": "User is not Authorized"
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "oauth2": [
                            "BidsRead"
                        ]
                    }
                ]
            }
        },
        "/api/v1/bid": {
            "post": {
                "tags": [
                    "Bid"
                ],
                "summary": "Makes bid(s) into specified auction(s).",
                "operationId": "Bid_MakeBids",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "bidRequest",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/BidRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successfully accepted the bid(s). \r\n            It may take some time until the bid requests are created. \r\n            It will take more time until the actual bid(s) are made for the Auction(s).",
                        "schema": {
                            "$ref": "#/definitions/ApiResultMakeBids"
                        }
                    },
                    "400": {
                        "description": "Too many items. Max items 100"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "404": {
                        "description": "Auction with specified ID is not found"
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "oauth2": [
                            "BidsEdit"
                        ]
                    }
                ]
            }
        },
        "/api/v1/bid/{id}": {
            "get": {
                "tags": [
                    "Bid"
                ],
                "summary": "Get the Bid",
                "operationId": "Bid_GetBid",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Bid identificator",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully fetched the Bid",
                        "schema": {
                            "$ref": "#/definitions/ApiResultBid"
                        }
                    },
                    "400": {
                        "description": "No Bid id specified"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "403": {
                        "description": "Not allowed to get the Bid, because the bid is not owned by current user"
                    },
                    "404": {
                        "description": "Bid with specified ID is not found"
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "oauth2": [
                            "BidsRead"
                        ]
                    }
                ]
            }
        },
        "/api/v1/bid/{id}/cancel": {
            "post": {
                "tags": [
                    "Bid"
                ],
                "summary": "Cancel the Bid",
                "operationId": "Bid_CancelBid",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Bid identificator",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successfully accepted the cancellation request for the Bid",
                        "schema": {
                            "$ref": "#/definitions/ApiResult"
                        }
                    },
                    "400": {
                        "description": "No Bid id specified"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "403": {
                        "description": "The user has no rights to cancel the Bid"
                    },
                    "404": {
                        "description": "Bid with specified ID is not found"
                    },
                    "409": {
                        "description": "Can not cancel Bid."
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "oauth2": [
                            "BidsEdit"
                        ]
                    }
                ]
            }
        },
        "/api/v1/publicdataset": {
            "get": {
                "tags": [
                    "Report"
                ],
                "summary": "Provides daily public dataset of all loan data that is not covered by the data protection laws.",
                "operationId": "Report_GetPublicDataset",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request.loanIds",
                        "in": "query",
                        "description": "Specific loans to search",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.countries",
                        "in": "query",
                        "description": "Two letter iso code for country of origin: EE, ES, FI",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.ratings",
                        "in": "query",
                        "description": "Bondora's rating: AA, A, B, C, D, E, F, HR",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.loanDateFrom",
                        "in": "query",
                        "description": "Loan start date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.loanDateTo",
                        "in": "query",
                        "description": "Loan start date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.pageSize",
                        "in": "query",
                        "description": "Max items in result, up to 10000",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 10000,
                        "minimum": 1
                    },
                    {
                        "name": "request.pageNr",
                        "in": "query",
                        "description": "Result page nr",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 2147483647,
                        "minimum": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got list of loan public dataset items",
                        "schema": {
                            "$ref": "#/definitions/ApiResultPublicDataset"
                        }
                    },
                    "401": {
                        "description": "User is not Authorized"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/reports": {
            "get": {
                "tags": [
                    "Report"
                ],
                "summary": "List of all reports",
                "operationId": "Report_GetReportList",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got report list",
                        "schema": {
                            "$ref": "#/definitions/ApiResultReportList"
                        }
                    },
                    "401": {
                        "description": "User is not Authorized"
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "oauth2": [
                            "ReportRead"
                        ]
                    }
                ]
            }
        },
        "/api/v1/report/{id}": {
            "get": {
                "tags": [
                    "Report"
                ],
                "summary": "Get report data for specified report identificator.",
                "operationId": "Report_GetReport",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ReportId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got report data",
                        "schema": {
                            "$ref": "#/definitions/ApiResultReport"
                        }
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "403": {
                        "description": "Not allowed to get the Report, because the Report is not owned by current user"
                    },
                    "404": {
                        "description": "Report with specified identificator was not found"
                    },
                    "409": {
                        "description": "Report type is not supported"
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "oauth2": [
                            "ReportRead"
                        ]
                    }
                ]
            }
        },
        "/api/v1/report": {
            "post": {
                "tags": [
                    "Report"
                ],
                "summary": "Request to generate specified report type for set period.",
                "operationId": "Report_GenerateReport",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ReportCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successfully accepted request. \r\n            It may take some time until the reports are created.",
                        "schema": {
                            "$ref": "#/definitions/ApiResultCreateReport"
                        }
                    },
                    "400": {
                        "description": "PeriodEnd is too large (more than 20 years from today)"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "oauth2": [
                            "ReportCreate"
                        ]
                    }
                ]
            }
        },
        "/api/v1/secondarymarket": {
            "get": {
                "tags": [
                    "SecondMarket"
                ],
                "summary": "Gets list of active secondary market items",
                "operationId": "SecondMarket_GetActive",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request.loanIssuedDateFrom",
                        "in": "query",
                        "description": "Loan issued start date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.loanIssuedDateTo",
                        "in": "query",
                        "description": "Loan issued start date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.principalMin",
                        "in": "query",
                        "description": "Remaining principal amount min",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.principalMax",
                        "in": "query",
                        "description": "Remaining principal amount max",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.interestMin",
                        "in": "query",
                        "description": "Interest rate min",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.interestMax",
                        "in": "query",
                        "description": "Interest rate max",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.lengthMax",
                        "in": "query",
                        "description": "Loan lenght min",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.lengthMin",
                        "in": "query",
                        "description": "Loan lenght max",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.hasDebt",
                        "in": "query",
                        "description": "Is overdue",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "request.loanStatusCode",
                        "in": "query",
                        "description": "Loan status code\r\n            <para>2 Current</para><para>100 Overdue</para><para>5 60+ days overdue</para>",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.loanDebtManagementStageType",
                        "in": "query",
                        "description": "Latest debt management stage type",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            1,
                            2,
                            3,
                            -1
                        ]
                    },
                    {
                        "name": "request.loanDebtManagementDateActiveFrom",
                        "in": "query",
                        "description": "Latest debt management date active from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.loanDebtManagementDateActiveTo",
                        "in": "query",
                        "description": "Latest debt management date active to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.latePrincipalAmountMin",
                        "in": "query",
                        "description": "Principal debt amount min",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.latePrincipalAmountMax",
                        "in": "query",
                        "description": "Principal debt amount max",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.priceMin",
                        "in": "query",
                        "description": "Price amount min",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.priceMax",
                        "in": "query",
                        "description": "Price amount max",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.useOfLoan",
                        "in": "query",
                        "description": "Use of loan",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            0,
                            1,
                            2,
                            3,
                            4,
                            5,
                            6,
                            7,
                            8,
                            101,
                            102,
                            103,
                            104,
                            105,
                            106,
                            107,
                            108,
                            109,
                            110,
                            201,
                            202,
                            203,
                            204,
                            205,
                            206,
                            207,
                            208,
                            209,
                            210,
                            211,
                            -1
                        ]
                    },
                    {
                        "name": "request.hasNewSchedule",
                        "in": "query",
                        "description": "Has been rescheduled",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "request.countries",
                        "in": "query",
                        "description": "Two letter iso code for country of origin: EE, ES, FI",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.ratings",
                        "in": "query",
                        "description": "Bondora's rating: AA, A, B, C, D, E, F, HR",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "request.creditScoreMin",
                        "in": "query",
                        "description": "Minimum credit score",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.creditScoreMax",
                        "in": "query",
                        "description": "Maximum credit score",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.userName",
                        "in": "query",
                        "description": "Borrower's username",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "request.gender",
                        "in": "query",
                        "description": "Borrower's gender: Male 0, Female 1, Unknown 2",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.ageMin",
                        "in": "query",
                        "description": "Minimal age",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.ageMax",
                        "in": "query",
                        "description": "Maximum age",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "request.incomeVerificationStatus",
                        "in": "query",
                        "description": "Income verification type",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "enum": [
                            1,
                            2,
                            3,
                            4
                        ]
                    },
                    {
                        "name": "request.showMyItems",
                        "in": "query",
                        "description": "Can find your own items from market: Value Null = ALL, True = only your items, False = other user items",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "request.auctionId",
                        "in": "query",
                        "description": "Can find specific auction from market",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "request.listedOnDateFrom",
                        "in": "query",
                        "description": "Date when item was published from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.listedOnDateTo",
                        "in": "query",
                        "description": "Date when item was published to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.debtOccuredOnFrom",
                        "in": "query",
                        "description": "Principal debt started date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.debtOccuredOnTo",
                        "in": "query",
                        "description": "Principal debt started date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.debtOccuredOnForSecondaryFrom",
                        "in": "query",
                        "description": "Interest debt started date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.debtOccuredOnForSecondaryTo",
                        "in": "query",
                        "description": "Interest debt started date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.defaultedDateFrom",
                        "in": "query",
                        "description": "Defaulted date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.defaultedDateTo",
                        "in": "query",
                        "description": "Defaulted date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.rescheduledFrom",
                        "in": "query",
                        "description": "Rescheduled date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.rescheduledTo",
                        "in": "query",
                        "description": "Rescheduled date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.lastPaymentDateFrom",
                        "in": "query",
                        "description": "Last payment date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.lastPaymentDateTo",
                        "in": "query",
                        "description": "Last payment date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.nextPaymentDateFrom",
                        "in": "query",
                        "description": "Next payment date from",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.nextPaymentDateTo",
                        "in": "query",
                        "description": "Next payment date to",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "request.desiredDiscountRateMin",
                        "in": "query",
                        "description": "Minimal DesiredDiscountRate",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.desiredDiscountRateMax",
                        "in": "query",
                        "description": "Maximal DesiredDiscountRate",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.xirrMin",
                        "in": "query",
                        "description": "Minimal Xirr",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.xirrMax",
                        "in": "query",
                        "description": "Maximal Xirr",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "request.pageSize",
                        "in": "query",
                        "description": "Max items in result, up to 100000",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 100000,
                        "minimum": 1
                    },
                    {
                        "name": "request.pageNr",
                        "in": "query",
                        "description": "Result page nr",
                        "required": false,
                        "type": "integer",
                        "format": "int32",
                        "maximum": 2147483647,
                        "minimum": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got list of secondary market items",
                        "schema": {
                            "$ref": "#/definitions/ApiResultSecondMarket"
                        }
                    },
                    "401": {
                        "description": "User is not Authorized"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/loanpart/{id}": {
            "get": {
                "tags": [
                    "SecondMarket"
                ],
                "summary": "Gets LoanPartDetails info by identifier",
                "operationId": "SecondMarket_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "LoanPartDetails's identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got LoanPartDetails with specified ID",
                        "schema": {
                            "$ref": "#/definitions/ApiResultLoanPartDetails"
                        }
                    },
                    "400": {
                        "description": "LoanPart ID is not provided"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "404": {
                        "description": "LoanPart with the provided ID was not found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/loanpart/list": {
            "post": {
                "tags": [
                    "SecondMarket"
                ],
                "summary": "Gets LoanPartDetails info by identifiers in a list (up to 1000 items).",
                "operationId": "SecondMarket_GetList",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "LoanPartDetails identifiers list.\r\n            This endpoint supports both GET and POST methods.\r\n            If using this endpoint with the GET method the request data must be sent with the request body, even though it is a GET request.\r\n            The \"Content-Type\" header must be set so the server knows how to decode the data.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/LoanPartDetailsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully got LoanPartDetails with specified ID",
                        "schema": {
                            "$ref": "#/definitions/ApiResultLoanPartDetailsList"
                        }
                    },
                    "400": {
                        "description": "LoanPart ID is not provided"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "404": {
                        "description": "LoanPart with the provided ID was not found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/secondarymarket/buy": {
            "post": {
                "tags": [
                    "SecondMarket"
                ],
                "summary": "Buy loans from secondary market.",
                "operationId": "SecondMarket_Buy",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "buyRequest",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SecondMarketBuyRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successfully accepted buy request.",
                        "schema": {
                            "$ref": "#/definitions/ApiResult"
                        }
                    },
                    "400": {
                        "description": "Too many items. Max items 100"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "403": {
                        "description": "User has no rights"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "409": {
                        "description": "Investment cannot be bought"
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "oauth2": [
                            "SmBuy"
                        ]
                    }
                ]
            }
        },
        "/api/v1/secondarymarket/sell": {
            "post": {
                "tags": [
                    "SecondMarket"
                ],
                "summary": "Sell your loans to secondary market.",
                "operationId": "SecondMarket_Sell",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "saleRequest",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SecondMarketSaleRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successfully accepted sell request.",
                        "schema": {
                            "$ref": "#/definitions/ApiResultSecondMarketSale"
                        }
                    },
                    "400": {
                        "description": "Too many items. Max items 100"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "403": {
                        "description": "User has no rights"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "409": {
                        "description": "Investment cannot be sold"
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "oauth2": [
                            "SmSell"
                        ]
                    }
                ]
            }
        },
        "/api/v1/secondarymarket/{id}/cancel": {
            "post": {
                "tags": [
                    "SecondMarket"
                ],
                "summary": "Remove your loans from secondary market.",
                "operationId": "SecondMarket_Cancel",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successfully accepted cancel request.",
                        "schema": {
                            "$ref": "#/definitions/ApiResult"
                        }
                    },
                    "400": {
                        "description": "Not found"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "403": {
                        "description": "User has no rights"
                    },
                    "409": {
                        "description": "Cannot cancel item"
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "oauth2": [
                            "SmSell"
                        ]
                    }
                ]
            }
        },
        "/api/v1/secondarymarket/cancel": {
            "post": {
                "tags": [
                    "SecondMarket"
                ],
                "summary": "Remove your loans from secondary market.",
                "operationId": "SecondMarket_CancelMultiple",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "cancelRequest",
                        "in": "body",
                        "description": "",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SecondMarketCancelRequest"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Successfully accepted cancel request.",
                        "schema": {
                            "$ref": "#/definitions/ApiResult"
                        }
                    },
                    "400": {
                        "description": "Too many items. Max items 100"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "403": {
                        "description": "User has no rights"
                    },
                    "409": {
                        "description": "Cannot cancel item"
                    }
                },
                "deprecated": false,
                "security": [
                    {
                        "oauth2": [
                            "SmSell"
                        ]
                    }
                ]
            }
        },
        "/api/v1/secondarymarket/{id}": {
            "get": {
                "tags": [
                    "SecondMarket"
                ],
                "summary": "Get the secondary market item summary",
                "operationId": "SecondMarket_GetItem",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "SecondaryMarket item identificator",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully fetched the SecondaryMarket item",
                        "schema": {
                            "$ref": "#/definitions/ApiResultSecondMarketItemSummary"
                        }
                    },
                    "400": {
                        "description": "No id specified"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "404": {
                        "description": "SecondaryMarket item with specified ID is not found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/secondarymarket/list": {
            "post": {
                "tags": [
                    "SecondMarket"
                ],
                "summary": "Get the secondary market item summaries in a list",
                "operationId": "SecondMarket_GetItemList",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "description": "SecondaryMarket item identificators.\r\n            This endpoint supports both GET and POST methods.\r\n            If using this endpoint with the GET method the request data must be sent with the request body, even though it is a GET request.\r\n            The \"Content-Type\" header must be set so the server knows how to decode the data.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SecondMarketListingRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully fetched the SecondaryMarket item",
                        "schema": {
                            "$ref": "#/definitions/ApiResultSecondMarketItemSummaryList"
                        }
                    },
                    "400": {
                        "description": "No ids specified"
                    },
                    "401": {
                        "description": "User is not Authorized"
                    },
                    "404": {
                        "description": "SecondaryMarket item with specified ID is not found"
                    }
                },
                "deprecated": false
            }
        }
    },
    "definitions": {
        "ApiResultMyAccountBalance": {
            "required": [
                "Success"
            ],
            "type": "object",
            "properties": {
                "Payload": {
                    "$ref": "#/definitions/MyAccountBalance",
                    "description": "The payload of the response. Type depends on the API request."
                },
                "Success": {
                    "description": "Indicates if the request was successfull or not.\r\n            true if the request was handled successfully, false otherwise.",
                    "type": "boolean"
                },
                "Errors": {
                    "description": "Error(s) accociated with the API request.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ApiError"
                    }
                }
            }
        },
        "MyAccountBalance": {
            "description": "My account balance information",
            "type": "object",
            "properties": {
                "Balance": {
                    "format": "double",
                    "description": "Account balance",
                    "type": "number"
                },
                "Reserved": {
                    "format": "double",
                    "description": "Account reserved amount",
                    "type": "number"
                },
                "BidRequestAmount": {
                    "format": "double",
                    "description": "Api pending auction bid request amount",
                    "type": "number"
                },
                "TotalAvailable": {
                    "format": "double",
                    "description": "Available balance",
                    "type": "number",
                    "readOnly": true
                },
                "GoGrowAccounts": {
                    "description": "List of Go and Grow accounts",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/GoGrowAccount"
                    }
                }
            }
        },
        "ApiError": {
            "description": "API Error object. Describes the error that occured.",
            "required": [
                "Code",
                "Message"
            ],
            "type": "object",
            "properties": {
                "Code": {
                    "format": "int32",
                    "description": "Code of the error. For machine reading.",
                    "type": "integer"
                },
                "Message": {
                    "description": "The error message for human reading.",
                    "type": "string"
                },
                "Details": {
                    "description": "Error details, if any. \r\n            For example the non valid Field's name or the Id of the failed object.",
                    "type": "string"
                }
            }
        },
        "GoGrowAccount": {
            "description": "Go and Grow account",
            "type": "object",
            "properties": {
                "Name": {
                    "description": "Name of your Go and Grow",
                    "type": "string"
                },
                "NetDeposits": {
                    "format": "double",
                    "description": "TotalDeposits - TotalWithdrawals",
                    "type": "number",
                    "readOnly": true
                },
                "NetProfit": {
                    "format": "double",
                    "description": "Everything you have gained from Go and Grow",
                    "type": "number",
                    "readOnly": true
                },
                "TotalSaved": {
                    "format": "double",
                    "description": "Total Go and Grow value",
                    "type": "number",
                    "readOnly": true
                }
            }
        },
        "MyInvestmentsRequest": {
            "description": "Request object for filtering my investments",
            "type": "object",
            "properties": {
                "LoanIssuedDateFrom": {
                    "format": "date-time",
                    "description": "Loan issued start date from",
                    "type": "string"
                },
                "LoanIssuedDateTo": {
                    "format": "date-time",
                    "description": "Loan issued start date to",
                    "type": "string"
                },
                "PrincipalMin": {
                    "format": "double",
                    "description": "Remaining principal amount min",
                    "type": "number"
                },
                "PrincipalMax": {
                    "format": "double",
                    "description": "Remaining principal amount max",
                    "type": "number"
                },
                "InterestMin": {
                    "format": "double",
                    "description": "Interest rate min",
                    "type": "number"
                },
                "InterestMax": {
                    "format": "double",
                    "description": "Interest rate max",
                    "type": "number"
                },
                "LengthMax": {
                    "format": "int32",
                    "description": "Loan lenght min",
                    "type": "integer"
                },
                "LengthMin": {
                    "format": "int32",
                    "description": "Loan lenght max",
                    "type": "integer"
                },
                "LatePrincipalAmountMin": {
                    "format": "double",
                    "description": "Principal debt amount min",
                    "type": "number"
                },
                "LatePrincipalAmountMax": {
                    "format": "double",
                    "description": "Principal debt amount max",
                    "type": "number"
                },
                "DebtOccuredOnFrom": {
                    "format": "date-time",
                    "description": "Principal debt started date from",
                    "type": "string"
                },
                "DebtOccuredOnTo": {
                    "format": "date-time",
                    "description": "Principal debt started date to",
                    "type": "string"
                },
                "DebtOccuredOnForSecondaryFrom": {
                    "format": "date-time",
                    "description": "Interest debt started date from",
                    "type": "string"
                },
                "DebtOccuredOnForSecondaryTo": {
                    "format": "date-time",
                    "description": "Interest debt started date to",
                    "type": "string"
                },
                "DefaultedDateFrom": {
                    "format": "date-time",
                    "description": "Defaulted date from",
                    "type": "string"
                },
                "DefaultedDateTo": {
                    "format": "date-time",
                    "description": "Defaulted date to",
                    "type": "string"
                },
                "RescheduledFrom": {
                    "format": "date-time",
                    "description": "Defaulted date from",
                    "type": "string"
                },
                "RescheduledTo": {
                    "format": "date-time",
                    "description": "Defaulted date to",
                    "type": "string"
                },
                "SoldDateFrom": {
                    "format": "date-time",
                    "description": "When it was sold on Secondary market from",
                    "type": "string"
                },
                "SoldDateTo": {
                    "format": "date-time",
                    "description": "When it was sold on Secondary market to",
                    "type": "string"
                },
                "PurchaseDateFrom": {
                    "format": "date-time",
                    "description": "When you received the investment Auctions/Secondary market from",
                    "type": "string"
                },
                "PurchaseDateTo": {
                    "format": "date-time",
                    "description": "When you received the investment Auctions/Secondary market to",
                    "type": "string"
                },
                "NextPaymentDateTo": {
                    "format": "date-time",
                    "description": "Next payment date to",
                    "type": "string"
                },
                "NextPaymentDateFrom": {
                    "format": "date-time",
                    "description": "Next payment date from",
                    "type": "string"
                },
                "LastPaymentDateFrom": {
                    "format": "date-time",
                    "description": "Last payment date from",
                    "type": "string"
                },
                "LastPaymentDateTo": {
                    "format": "date-time",
                    "description": "Last payment date to",
                    "type": "string"
                },
                "Countries": {
                    "description": "Two letter iso code for country of origin: EE, ES, FI",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "Ratings": {
                    "description": "Bondora's rating: AA, A, B, C, D, E, F, HR",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "CreditScoreMin": {
                    "format": "int32",
                    "description": "Minimum credit score",
                    "type": "integer"
                },
                "CreditScoreMax": {
                    "format": "int32",
                    "description": "Maximum credit score",
                    "type": "integer"
                },
                "UserName": {
                    "description": "Borrower's username",
                    "type": "string"
                },
                "LoanStatusCode": {
                    "description": "Loan status code\r\n            <para>0 Reserved</para><para>2 Current</para><para>3 Cancelled</para><para>100 Overdue</para><para>5 60+ days overdue</para><para>4 Repaid</para><para>8 Released</para>",
                    "type": "array",
                    "items": {
                        "format": "int32",
                        "type": "integer"
                    }
                },
                "IncomeVerificationStatus": {
                    "format": "int32",
[...]
